@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

$background-color:#16afd7;
$box-color: #0879b1;
$text: white;
$font: 'Poppins',
sans-serif;


* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background-color;
  font-family: $font;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  width: 40%;
  margin: auto;
  margin-top: 10%;

  .container__header {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 33.4%;
    color: $text;
    background-image: url(images/splash.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: right;
    font-size: 1vw;

    .container__header__text {
      margin-right: 15%;

      h2 {
        font-weight: 100;

      }

      a {
        transition: 0.4s;
      }

      a:hover {
        color: $text;
      }
    }
  }

  .container__images {
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 25vh;
    color: $text;
    background-color: $box-color;

    .container__images__colors {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 100%;
      border-right: 1px solid white;
      font-size: larger;
      transition: .4s;
    }

    .container__images__colors:hover {
      transform: scale(1.05);
      box-shadow: 4px 4px 8px 8px rgba(55, 118, 211, 0.836);
      background-color: $box-color;
      border: none;
      border-radius: 6px;
    }

    .img-colors {
      margin-top: 20px;
      width: 70%;
    }

    .container__images__mix {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 100%;
      border-right: 1px solid white;
      font-size: larger;
      transition: .4s;
    }

    .container__images__mix:hover {
      transform: scale(1.05);
      box-shadow: 4px 4px 8px 8px rgba(55, 118, 211, 0.836);
      background-color: $box-color;
      border: none;
      border-radius: 6px;
    }

    .img-mix {
      margin-top: 20px;
      width: 70%;
    }

    .container__images__gloves {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 100%;
      border-right: 1px solid white;
      font-size: larger;
      transition: .4s;
    }

    .container__images__gloves:hover {
      transform: scale(1.05);
      box-shadow: 4px 4px 8px 8px rgba(55, 118, 211, 0.836);
      background-color: $box-color;
      border: none;
      border-radius: 6px;
    }

    .img-gloves {
      margin-top: 20px;
      width: 70%;
    }

    .container__images__inspire {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 100%;
      font-size: larger;
      transition: .4s;
    }

    .container__images__inspire:hover {
      transform: scale(1.05);
      box-shadow: 4px 4px 8px 8px rgba(55, 118, 211, 0.836);
      background-color: $box-color;
      border: none;
      border-radius: 6px;
    }

    .img-inspire {
      margin-top: 20px;
      width: 70%;
    }

  }

  .container__footer {
    background-color: $box-color;
    width: 40vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
  }

  form {
    display: flex;
    justify-content: space-evenly;
    gap: 4%;
  }

  input {
    width: 8vw;
    height: 2vh;
    border-radius: 5px;
    padding: 5px;
    border: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }

  select {
    width: 8vw;
    height: 2vh;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }

  button {
    justify-self: center;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    width: 150px;
    cursor: pointer;
    transition: .3s;
  }

  button:hover {
    background-color: #16afd7;
    transform: scale(1.05);
  }
}

// @media screen and (min-width: px)